<template name="Footer">
    <footer class="footer">
        <div class="container">
            <!-- Footer Links -->
            <div class="row">
            	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            		<p>Copyright ©2015 <strong>bitmoon</strong> - weekist {{version}}</p>
            	</div>            	
            	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5 text-center">
					<a href="mailto:weekist@bitmoon.com">Contact us</a>
            	</div>
            	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            		<a href="https://twitter.com/weekistapp"><i class="fa fa-twitter"></i></a>
            	</div>
            </div>
        </div>
    </footer>
</template>
