<template name="Features">
    <div id="features" class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="col-sm-4 text-center">
                    <i id="icon-feature-report" class="fa fa-file-text fa-4x"></i>
                    <h3 class="site-heading"><strong>Three types</strong> of reports</h3>
                    <p class="text-left">Use one of the predifined reports: monthly / weekly or generate your report for a custom range.</p>
                </div>
                <div class="col-sm-4 text-center">
                    <i id="icon-feature-filter" class="fa fa-filter fa-4x"></i>
                    <h3 class="site-heading"><strong>Filters</strong></h3>
                    <p class="text-left">Customize the report by filtering the tasks to be shown in the report so they fit your needs. You can filter the tasks per <strong>project</strong> and <strong>label</strong>.</p>
                </div>
                <div class="col-sm-4 text-center">
                    <i id="icon-feature-more" class="fa fa-plus fa-4x"></i>
                    <h3 class="site-heading">And <strong>much more</strong></h3>
                    <p class="text-left">We are continuosly hearing your feedback to include new features to improve weekist. Some of the features we've included are: tasks' notes in the report, labels and links recognized in the task description.</p>
                </div>
            </div>
        </div>
    </div>
</template>
