<template name="Testimonials">
    <div id="features" class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="col-sm-4 text-center">
                    <p class="text-left">
                      I discovered your app today and I love it! It is exactly what I was looking for!
                      It's so great to be able to see what I accomplish each day and each week.
                      Thank you for creating this.
                      <br><br>- <i>Inna S.</i>
                    </p>
                </div>
                <div class="col-sm-4 text-center">
                  <p class="text-left">
                    Cool tool!
                    <br><br>- <i>Neil B.</i>
                  </p>
                </div>
                <div class="col-sm-4 text-center">
                  <p class="text-left">
                    Your new update is amazing. Amazing amazing amazing
                    <br><br>- <i>Jesse F.</i>
                  </p>
                </div>
            </div>
        </div>
    </div>
</template>
